@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Itu, 51<br />
    Jardim Santa Rosa, Porto Feliz, SP<br />
    <abbr title="Phone">P:</abbr>
    +5515981177440
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:alexssander.antunes.1974@gmail.com">alexsander.antunes.1974@gmail.com</a><br />
</address>